@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

@import url("./components/sidebar.css");
@import url("./components/content.css");
@import url("./variable.css");

* {
  font-family: "Poppins", sans-serif;
  margin-bottom: 0 !important;
}

.fa-close,
.fa-bars {
  color: var(--navy);
}

.button {
  font-size: 14px;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 12px;
}

svg {
  width: 24px;
  height: 24px;
}



@media (min-width: 992px) {
  .content {
    margin-left: 305px;
  }
}

@media (max-width: 768px) {
  .content {
    padding: 32px 16px;
  }
}