.content {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 40px 60px;
  min-height: 100vh;
  background-color: var(--background);
}
.content .title{
  font-size: 2rem;
  text-align: center;
}