.sidebar {
  display: block;
  position: fixed;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
  background-color: #fff;
}


.navigation-button {
  padding: 10px;
  text-align: right;
}

.sidebar > hr {
  margin: 0;
  color: var(--grey-tertiary);
}


.container-logo {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 0 40px 40px;
}

.judul-logo {
  font-weight: 600;
  font-size: 18px;
  color: var(--navy);
  line-height: 27px;
}

.tag-logo {
  font-weight: 400;
  font-size: 14px;
  color: var(--grey-primary);
}

.menu {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
}

.menu .sub-menu{
  background-color: brown;
  color: #fff;
}

.section-menu {
  display: flex;
  flex-direction: column;
}

.section-menu > p {
  padding-left: 40px;
}

.collapse-menu{
  cursor: pointer;
  display: block;
  padding: 12px 40px;
  font-weight: 400;
  position: relative;
  text-decoration: none;
  align-items: center;
  color: var(--grey-primary);
}

.item-menu {
  gap: 18px;
  display: flex;
  padding: 12px 40px;
  font-weight: 400;
  position: relative;
  text-decoration: none;
  align-items: center;
  color: var(--grey-primary);
}

.item-menu:hover {
  color: brown;
}

.item-menu.active {
  font-weight: 500;
  color: brown;
}

@media (max-width: 768px) {
  .content {
    padding: 32px 16px;
  }
  .container-logo {
    padding: 0px 40px 40px;
  }
  .sidebar{
    display: none;
  }
  .sidebar.open{
    display: block;
    transition: .5s;
    z-index: 10;
  }
}