.sidebar {
  position: fixed;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
  background-color: #fff;
}

.sidebar > hr {
  margin: 0;
  color: var(--grey-tertiary);
}


.logo-brand {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 0 40px 40px;
}

.title-store {
  font-weight: 600;
  font-size: 18px;
  color: var(--navy);
  line-height: 27px;
}

.tagline-store {
  font-weight: 400;
  font-size: 14px;
  color: var(--grey-primary);
}

.menu {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
}

.menu .sub-menu{
  background-color: brown;
  color: #fff;
}

.section-menu {
  display: flex;
  flex-direction: column;
}

.section-menu > p {
  padding-left: 40px;
}

.collapse-menu{
  cursor: pointer;
  display: block;
  padding: 12px 40px;
  font-weight: 400;
  position: relative;
  text-decoration: none;
  align-items: center;
  color: var(--grey-primary);
}

.item-menu {
  gap: 18px;
  display: flex;
  padding: 12px 40px;
  font-weight: 400;
  position: relative;
  text-decoration: none;
  align-items: center;
  color: var(--grey-primary);
}

.item-menu:hover {
  color: brown;
}

.item-menu.active {
  font-weight: 500;
  color: brown;
}
